<!-- Venue Section -->
<section id="venue" class="bg-light-pink">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <h3 class="section-subheading text-muted">Hawaii is "in the middle" for everyone, so we’re inviting you to make a holiday out of it! 🌺
                <br>The nearest airport is <b></b>Daniel K. Inouye International Airport (HNL)</b>.</h3>
            </div>
        </div>
        <div class="row">
        <div class="column left">
            <style>
            .google-maps {
                position: relative;
                padding-bottom: 75%; // This is the aspect ratio
                height: 120%
                overflow: hidden;
            }
            .google-maps iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 95% !important;
                height: 120% !important;
            }
            </style>
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.848129701037!2d-157.83185952477046!3d21.27747838043485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00727593d8afcb%3A0xb9789258e42af5c8!2sThe%20Royal%20Hawaiian%2C%20a%20Luxury%20Collection%20Resort%2C%20Waikiki!5e0!3m2!1sen!2sus!4v1743882769421!5m2!1sen!2sus" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="column right">
            <div class="row text-center" style="width: 30rem;">
                <span class="fa-stack fa-4x">
                    <img src="https://ceciliaxli.github.io/wedding-website/img/travel/SYD.png" width="120" height="120"></img>
                </span>
                <h4 class="service-heading">From SYD</h4>
                <p class="text-muted">Australians visiting Hawaii will need to have a valid ESTA upon arrival. It usually costs $21 USD to apply and lasts for 2 years.</p>
            </div>
            <div class="row text-center" style="width: 30rem;">
                <span class="fa-stack fa-4x">
                    <img src="https://ceciliaxli.github.io/wedding-website/img/travel/LA.png" width="120" height="120"></img>
                </span>
                <h4 class="service-heading">From LA</h4>
                <p class="text-muted">You can fly out Friday AM on a direct flight and make it to the ceremony in time.</p>
            </div>
            <div class="row text-center" style="width: 30rem;">
                <span class="fa-stack fa-4x">
                    <img src="https://ceciliaxli.github.io/wedding-website/img/travel/NYC.png" width="100" height="110"></img>
                </span>
                <h4 class="service-heading">From NYC</h4>
                <p class="text-muted">We recommend flying in on Thursday. However it's technically possible to fly out Friday AM and arrive on time if everything goes smoothly (and if that’s your only option, we totally get it).</p>
            </div>
        </div>
        </div>
    </div>    
</section>
