<!-- FAQ Section -->
<section id="FAQ" class="bg-light-pink">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">When do I need to RSVP by?</h4>  
            <p class="largepad text-muted">Please RSVP by January 31st, 2026, as this will make our wedding easier to plan!</p>
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">April in Hawaii is usually 70–80°F (21–27°C). The venue is by the beach, so it will be warm but a light layer may also come in handy.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Please come in cocktail attire, although feel free to add your own Hawaiian/summer flare!</p>
            <h4 class="service-heading">Can I bring a guest?</h4>  
            <p class="largepad text-muted">Your invitation should indicate whether you have a guest in your party. If you'd like to bring someone else or any children, please reach out to us first.</p>
           </div>
    </div>
</section>
